@model IEnumerable<ParkFinder.Models.Park>

@{
    ViewData["Title"] = "Home Page";
}


<style>
    #searchbar {
        margin: 1em 0;
    }

    #search {
        width: 40%;
    }

    #submitbtn {
        width: 100px;
    }
</style>


<div>
    <h1>JS Parks</h1>

    <div id="searchbar">
        <input type="text" name="search" id="search" />
    </div>

    <div id="data">
    </div>
</div>


<script>
    //(async function () {
    const txtSearch = document.querySelector('#search');
    const parks = document.querySelector('#data');

    const addPark = (park) => {
        let h3 = document.createElement('h3');

        let boroughName = document.createElement('i');
        let acresName = document.createElement('i');
        let descriptionName = document.createElement('i');

        boroughName.textContent = 'Borough: ';
        acresName.textContent = 'Acres: ';
        descriptionName.textContent = 'Description: ';

        let borough = document.createElement('p');
        let acres = document.createElement('p');
        let description = document.createElement('p');

        borough.appendChild(boroughName);
        acres.appendChild(acresName);
        description.appendChild(descriptionName);

        borough.textContent = park.parkName;
        acres.textContent = park.acres;
        description.innerHTML = park.description;

        let div = document.createElement('div');

        div.appendChild(h3);
        div.appendChild(borough);
        div.appendChild(acres);
        div.appendChild(description);

        parks.appendChild(div);
    }

    const addParks = (search) => {
        console.log(search);

        fetch(`/JsParkData/GetParkData/${search}`)
            .then(response => response.json())
            .then(json => {
                parks.innerHTML = '';
                json.forEach(p => addPark(p))
            });
        }

    txtSearch.addEventListener('keyup', (e) => {
        if (e.key === 'Enter')
            addParks(txtSearch.value);
    });

    addParks();
    //})()
</script>