@{
    ViewData["Title"] = "Home Page";
}


<style>
    #searchbar {
        margin: 1em 0;
    }

    #search {
        width: 40%;
    }

    #submitbtn {
        width: 100px;
    }
</style>

<div>
    <h1>Parks</h1>

    <div id="searchbar">
        @using (Html.BeginForm("Index", "ParkData", FormMethod.Post))
        {
            <input type="text" name="search" id="search" />
        }
    </div>

    <div>
        @foreach (var park in ViewBag.Parks)
        {
            <div>
                <h3>@park.ParkName</h3>
                <p><i>Borough:</i> @park.Borough</p>
                <p><i>Acres:</i> @park.Acres</p>
                <p><i>Description:</i> @Html.Raw(park.Description)</p>
            </div>
        }
    </div>
</div>
