@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Parks</h1>

    <div>
        <ul style="list-style-type: none;">
            @foreach (var park in ViewBag.Parks)
            {
                <li>@park.ParkName</li>
            }
        </ul>
    </div>
</div>
